body{
    background-image: url("resources/background_2.jpg");
    width: 800px;
    margin: auto;
}

.header{
    height: 150px;
    line-height: 150px;
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 75px;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color:#FFFFFF;
}

.image_container{
    float: left;
    padding: 0 15px 15px 0;
}

.custom_border{
    border: 5px solid #E6E6E6;
    border-radius: 10px;
}

.news_block{
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: #FFFFFF;
    overflow: hidden;
}

.news_title{
    font-size: 24px;
}

.news_image{
    width: 320px;
    height: 180px;
}