@mt15: 15px 0 0 0;
@white-background-color: #FFFFFF;

body{
  background-image: url("resources/images/background_2.jpg");
  margin: auto;
}

.container {
  max-width: 768px;
  min-width: 320px;
}

.image-container{
  margin: 0 15px 15px 0;
  width: 320px;
  height: 180px;
}

.mt15 {
  margin: @mt15;
}

.custom-border {
  border: 5px solid #E6E6E6;
  border-radius: 10px;
}

.news-block {
  .custom-border;
  padding: 10px;
  margin: @mt15;
  background-color: @white-background-color;
  overflow: hidden;
}

.centered {
  text-align: center;
}

.footer {
  .custom-border;
  .centered;
  margin: @mt15;
  background-color: @white-background-color;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 400px) {

  .signature-row {
    width: 100%;
  }

}