<!DOCTYPE html>
<html lang="en" ng-app="newsPortalApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>News Portal</title>

    <!--<base href="/" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet/less" href="css/main.less"/>
    <link rel="stylesheet" href="lib/lightbox/css/lightbox.css"/>

    <!--libraries-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.js"></script>
    <script src="lib/lightbox/js/lightbox.js"></script>

    <!--main application file-->
    <script src="app.js"></script>

    <!--other functional files-->
    <script src="js/controllers/newsAppController.js"></script>
    <script src="js/controllers/listOfNewsController.js"></script>
    <script src="js/controllers/detailNewsController.js"></script>

    <script src="js/filters/trustUrl.js"></script>

    <script src="js/directives/tooltipDir.js"></script>
    <script src="js/directives/commentDir.js"></script>

    <script src="js/services/newsService.js"></script>

    <script src="js/factories/httpGetFactory.js"></script>

</head>

<body>

<div class="container" ng-controller="newsAppController as appCtrl">

    <div class="custom-border mt15"><img class="img-responsive" src="img/news_logo.png" width="100%"></div>

        <nav class="navbar navbar-default mt15">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">News</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown">Nature <span class="caret"></span></a>
                            <ul id="news-type-grid" class="dropdown-menu">
                                <li class="btn-menu"><a href="#/news/nature" ng-click="appCtrl.changeNavigation($event)">Nature</a></li>
                                <li class="btn-menu"><a href="#/news/science" ng-click="appCtrl.changeNavigation($event)">Science</a></li>
                                <li class="btn-menu"><a href="#/news/economic" ng-click="appCtrl.changeNavigation($event)">Economic</a></li>
                                <li class="btn-menu"><a href="#/news/politic" ng-click="appCtrl.changeNavigation($event)">Politic</a></li>
                                <li class="btn-menu"><a href="#/news/charity" ng-click="appCtrl.changeNavigation($event)">Charity</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> My account
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-refresh"></span> Update profile</a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-qrcode"></span> Share</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model="searchModel.search">
                        </div>
                        <!--<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>-->
                    </form>
                </div>
            </div>
        </nav>

    <div>
        <ng-view>

        </ng-view>
    </div>

</div>
</body>
</html>