<!DOCTYPE html>
<html lang="en" ng-app="newsPortalApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>News Portal</title>

    <!--<base href="/" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet/less" href="css/main.less"/>
    <link rel="stylesheet" href="lib/lightbox/css/lightbox.css"/>
    <link rel="stylesheet" href="lib/fileinput/css/fileinput.css"/>

    <!--Test libraries)-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine-html.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/boot.min.js"></script>

    <!--libraries-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>

    <!--Custom libraries-->
    <script src="lib/lightbox/js/lightbox.js"></script>
    <script src="lib/fileinput/js/fileinput.js"></script>

    <!--main application file-->
    <script src="app.js"></script>

    <!--other functional files-->
    <script src="js/controllers/newsAppController.js"></script>
    <script src="js/controllers/listOfNewsController.js"></script>
    <script src="js/controllers/detailNewsController.js"></script>

    <script src="js/filters/trustUrl.js"></script>

    <script src="js/directives/tooltipDir.js"></script>
    <script src="js/directives/commentDir.js"></script>
    <script src="js/directives/deleteNewsModalDir.js"></script>

    <!--TODO: Finish this-->
    <script src="js/directives/editNewsModalDir.js"></script>

    <script src="js/services/newsService.js"></script>

    <script src="js/factories/httpGetFactory.js"></script>

    <style>[ng\:cloak], [ng-cloak], .ng-cloak { display: none }</style>

</head>

<body>

<div class="container" ng-controller="newsAppController as appCtrl">

    <div class="custom-border mt15"><img class="img-responsive" src="img/news_logo.png" width="100%"></div>

        <nav class="navbar navbar-default mt15">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">News</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown">Nature <span class="caret"></span></a>
                            <ul id="news-type-grid" class="dropdown-menu">
                                <li class="btn-menu"><a href="#/news/nature" ng-click="appCtrl.changeNavigation($event)">Nature</a></li>
                                <li class="btn-menu"><a href="#/news/science" ng-click="appCtrl.changeNavigation($event)">Science</a></li>
                                <li class="btn-menu"><a href="#/news/economic" ng-click="appCtrl.changeNavigation($event)">Economic</a></li>
                                <li class="btn-menu"><a href="#/news/politic" ng-click="appCtrl.changeNavigation($event)">Politic</a></li>
                                <li class="btn-menu"><a href="#/news/charity" ng-click="appCtrl.changeNavigation($event)">Charity</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="appCtrl.loggedIn" class="dropdown">
                            <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> My account
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-refresh"></span> Update profile</a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-qrcode"></span> Share</a></li>
                                <li class="divider"></li>
                                <li><a class="cursor-pointer" ng-click="appCtrl.logOut()"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                            </ul>
                        </li>

                        <li ng-if="!appCtrl.loggedIn">
                            <a class="cursor-pointer" ng-click="appCtrl.showLoginModal()"><span class="glyphicon glyphicon-off"></span> Log in</a>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model="searchModel.search">
                        </div>
                        <!--<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>-->
                    </form>
                </div>
            </div>
        </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="userForm" ng-submit="appCtrl.logIn(user)" novalidate>

                    <div class="modal-header">
                        <button type="button" class="close" ng-click="appCtrl.closeLoginModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Login</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="10" required>
                            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                            <p ng-show="!userForm.username.$pristine && userForm.username.$error.required" class="help-block">Username is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" ng-model="user.email" required>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine && !userForm.email.$error.required" class="help-block">Enter a valid email.</p>
                            <p ng-show="!userForm.email.$pristine && userForm.email.$error.required" class="help-block">Email is required</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="3" required>
                            <p ng-show="!userForm.password.$error.required && userForm.password.$error.minlength" class="help-block">Password is too short.</p>
                            <p ng-show="!userForm.password.$pristine && userForm.password.$error.required" class="help-block">Password is required.</p>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div>
        <ng-view>

        </ng-view>
    </div>

</div>
</body>
</html>