<div class="col-md-12 news-block" ng-if="listOfNews" data-ng-repeat="news in listOfNews">
    <div>
        <a href="{{news.main_image}}" data-lightbox="image_1">
            <img ng-src="{{news.main_image}}" class="img-responsive pull-left image-container"/>
        </a>
        <h3>
            <a id="1" href="#/news/{{news.type}}/{{news.news_id}}" class="news-expander">{{news.title}}</a>
        </h3>
        {{news.description}}
    </div>
    <div class="row mt15">
        <div class="col-md-3 col-md-offset-6 col-xs-6 signature-row">
            <div class="well well-sm centered cursor-pointer" popover-title="Author" uib-popover="{{news.author.description}}">{{news.author.name}}</div>
        </div>
        <div class="col-md-3 col-xs-6 signature-row">
            <div class="well well-sm centered">{{news.created_date | limitTo:10}}</div>
        </div>
    </div>
</div>

<div ng-if="!listOfNews">
    <div class="alert alert-warning centered mt15" role="alert">
        <span class="glyphicon glyphicon-info-sign"></span>
        This category currently doesn't contain news for now. Be patient and attend us from time to time. In the nearest future we will post here interesting topics.
    </div>
</div>