<div class="col-md-12 news-block">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a>
        </li>
        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="content">
            <div><img src="resources/images/main/wolf_4.jpg" class="img-responsive pull-left image-container">
                <div class="pull-right">
                    <div><a href="#" data-toggle="modal" data-target="#deleteNewsModal"><span
                            class="glyphicon glyphicon-remove news_delete" data-original-title="Remove news"
                            data-toggle="tooltip" data-placement="left"></span></a></div>
                    <div><a href="#" data-toggle="modal" data-target="#editNewsModal"><span
                            class="glyphicon glyphicon-pencil news_edit" data-original-title="Edit news"
                            data-toggle="tooltip" data-placement="left"></span></a></div>
                </div>
                <h3>Something about wolfs</h3>The Arctic wolf (Canis lupus arctos), also known as the Melville Island
                wolf is a possible subspecies of gray wolf native to the Canadian Arctic Archipelago, from Melville
                Island to Ellesmere Island. It is a medium-sized subspecies, distinguished from the northwestern wolf by
                its smaller size, its whiter coloration, its narrower braincase, and larger carnassials. Since 1930,
                there has been a progressive reduction in size in Arctic wolf skulls, which is likely the result of
                wolf-dog hybridization.
            </div>
            <div id="image-carousel" class="mt15 carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#image-carousel" data-slide-to="0" class=""></li>
                    <li class="" data-target="#image-carousel" data-slide-to="1"></li>
                    <li class="active" data-target="#image-carousel" data-slide-to="2"></li>
                    <li data-target="#image-carousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item"><img src="resources/images/main/wolf_4.jpg"></div>
                    <div class="item"><img src="resources/images/wolves/wolf_5.jpg"></div>
                    <div class="item active"><img src="resources/images/wolves/wolf_6.jpg"></div>
                    <div class="item"><img src="resources/images/wolves/wolf_7.jpg"></div>
                </div>
                <a class="left carousel-control" href="#image-carousel" role="button" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a
                    class="right carousel-control" href="#image-carousel" role="button" data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span
                    class="sr-only">Next</span></a></div>
            <div class="mt15">
                <video controls="" width="100%">
                    <source src="resources/video/cute_wolf_puppy.mp4" type="video/mp4">
                </video>
            </div>
            <div class="row mt15">
                <div class="col-md-3 col-md-offset-6 col-xs-6">
                    <div data-original-title="Author" class="well well-sm centered" data-toggle="popover"
                         data-placement="top" title="" data-content="Outstanding writer from USA">Nick Еm
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 well well-sm centered">2016-03-15 17:00</div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
            <div class="alert alert-warning centered mt15" role="alert"><span
                    class="glyphicon glyphicon-info-sign"></span>Here you can see some comments to the news, but for now
                this functionality is not supported. Sorry for the inconveniences.
            </div>
        </div>
    </div>
</div>