<div class="col-md-12 news-block">
    <div>
        <img ng-src="{{detailNewsCtrl.news.main_image}}" class="img-responsive pull-left image-container"/>

        <div class="pull-right" ng-if="appCtrl.loggedIn">
            <div>
                <a class="cursor-pointer" ng-click="detailNewsCtrl.showDeleteModal()">
                    <span class="glyphicon glyphicon-remove" data-original-title="Remove news" data-toggle="tooltip"
                          data-placement="left" tooltip-dir></span>
                </a>
            </div>
            <div>
                <a class="cursor-pointer" ng-click="detailNewsCtrl.showEditModal()">
                    <span class="glyphicon glyphicon-pencil" data-original-title="Edit news" data-toggle="tooltip"
                          data-placement="left" tooltip-dir></span>
                </a>
            </div>
        </div>
        <h3>{{detailNewsCtrl.news.title}}</h3>
        {{detailNewsCtrl.news.description}}
    </div>

    <div id="image-carousel" class="mt15 carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#image-carousel" ng-repeat="image in detailNewsCtrl.news.images" data-slide-to="{{$index}}" ng-class="{active: $index === 0}"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{active: $index === 0}" ng-repeat="image in detailNewsCtrl.news.images"><img ng-src="{{image.image_url}}"></div>
        </div>
    </div>

    <div class="mt15">
        <video controls="" width="100%" src="{{detailNewsCtrl.news.video | trustUrl}}"></video>
    </div>

    <div class="row mt15">
        <div class="col-md-3 col-md-offset-6 col-xs-6 signature-row">
            <div class="well well-sm centered cursor-pointer" popover-title="Author" uib-popover="{{detailNewsCtrl.news.author.description}}">{{detailNewsCtrl.news.author.name}}</div>
        </div>
        <div class="col-md-3 col-xs-6 signature-row">
            <div class="well well-sm centered">{{detailNewsCtrl.news.created_date}}</div>
        </div>
    </div>

    <div>
        <uib-accordion>
            <uib-accordion-group is-open="status.open">
                <uib-accordion-heading>
                    <div ng-click="detailNewsCtrl.openComments(status.open)">
                        Comments! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </div>
                </uib-accordion-heading>
                <div comment-dir></div>
            </uib-accordion-group>
        </uib-accordion>
    </div>

    <delete-news-modal-dir newsid="detailNewsCtrl.news._id" type="detailNewsCtrl.news.type" title="{{detailNewsCtrl.news.title}}"></delete-news-modal-dir>

    <edit-news-modal-dir news="detailNewsCtrl.news"></edit-news-modal-dir>

</div>